.hidden{
    display: none;
}

.show{
    display: content;
}

input[type="number"] {
    width: 80px;
}

#calculos{
    color: blue;
    font-weight: bold;
}

#errores{
    color: red;
    font-weight: bold;
}
