input[type="number"] {
    width: 70px;
}

.hidden{
    display: none;
}

.show{
    display: content;
}

.error{
    border: solid red;
}

.valido{
    border: solid green;
}

#calculos{
    color: blue;
    font-weight: bold;
}

#textos-error{
    color: red;
    font-weight: bold;
}
